<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PasswordVault.Properties.Settings.VDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="epw" value="R7n3eYszXvp9ihVrF7dAdbz72Z+L0Pq+91DpVPyuzatMEv8pbO2M30NtQRi9j6zP9CtjPZPnmfmkaag9Up3DIi4sIIejK93zI+LnOuYhaNRd62kFdz6XsQrUtoX/QbRe"/>
      <add key="dcy" value="W2pegwrSidVoAHC8va4hExqsUtRFKD60GIkPWXMZfTNJBm7OQc5lyz3bn1u9Lj"/>
    </appSettings>
</configuration>