<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PasswordVault.Properties.Settings.VDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="epw" value="d1f9CrxP0Sy9rHHMdD3D2JiukyCPQX+JQ2e5bPHSS/SQtdOvuuUH1w8bGy5X7Sm3mtoicDkMexY/QoGg1KRnAfwnRIU1XkqMq3B1UEbwAZYzp35G6f3Hmp5AXjIxnQ9u" />
        <add key="dcy" value="W2pegwrSidVoAHC8va4hExqsUtRFKD60GIkPWXMZfTNJBm7OQc5lyz3bn1u9Lj" />
    </appSettings>
</configuration>